* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.App {
  padding: 1rem;
}

header {
  text-align: center;
  color: darkgray;
}

header h1 {
  font-size: 6rem;
  font-weight: 600;
}

section {
  padding: 1rem;
}

.input-container {
  padding: 0 1rem;
}

.input-container div {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  border-radius: 7px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.input-container div input {
  border: none;
  outline: none;
  padding: 0.8rem;
  width: 100%;
}

.input-container div span {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-list {
  padding: 0 1rem;
}

.todo-item {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem 0;
  padding: 0 1.5rem;
}

.todo-item input[type="text"] {
  max-width: 100%;
  width: 85%;
  padding: 0.7rem 0;
  background-color: transparent;
  outline: none;
  border: none;
}
